* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid red; */
}
img {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container .img {
    height: 30%;
    width: 30%;

    position: relative;
}
.hands {
    height: 30%;
    position: absolute;
    top: 50%;
    left: 0;
    transform-origin: top;
}
#hand-h {
    rotate: 0deg;

    animation-name: anime-h;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#hand-m {
    rotate: 180deg;
    height: 20%;
}

@keyframes anime-h {
    to {
        rotate: 360deg;
    }
}
