* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}
html,
body {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fs-3rem {
    font-size: 3rem;
    font-family: sans-serif;
}
.flex-full {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container {
    width: 100%;
    padding: 10rem;
}
.container > div {
    border-top: 1px solid;
    padding: 1rem 3.5rem;

    transition: all .3s ease;
    z-index: 1000;
}
.lh-high {
    line-height: 4rem;
}

.work-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;

    transform: translate(-50%, -50%);

    transition: all .2s linear 0s;    
}

.work1-img,
.work2-img,
.work3-img,
.work4-img {
    display: none;
}
.work1::before {
    content: "";
    height: 14%;
    width: 1090px;
    /* background-color: red; */
    position: absolute;
    top: 19%;
    left: 11%;
    z-index: 10000;
}
.work2::before {
    content: "";
    height: 14%;
    width: 1090px;
    /* background-color: aqua; */
    position: absolute;
    top: 33%;
    left: 11%;
    z-index: 10000;
}
.work3::before {
    content: "";
    height: 14%;
    width: 1090px;
    /* background-color: yellow; */
    position: absolute;
    top: 48%;
    left: 11%;
    z-index: 10000;
}

.work-img > img {
    height: 100%;
    width: auto;
}